/* 
*{
    border: 1px solid red;
} */
/* header  footer */
.container-fluid{
  padding: 0;
  width:100%;
}

.icon-pic{
    width: 40px;
    height: 40px;
   
  }
 
  #user-icon{
    padding: 10px;
    margin: 5px;
  }
  #cart-icon{
    padding: 10px;
    margin: 5px;
    margin-right: 10px;
  }
  .logo-pic{
    width: 70px;
    height: 70px;
    margin-top: -15px;
  }
  
  .item-bar{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
   
  
   

  }
  ul.item-bar ul{
    position: absolute;
    z-index: 99;
   top: 100%;
    min-width: 180px;
    margin-top: -20px;
    list-style: none;
    /* 隱藏次選單 */
    display: none;  
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  /* 滑鼠滑入展開次選單 */
 ul.item-bar li:hover > ul{ 
   display: block;
   opacity: 1;
   -webkit-transition: opacity 0.3s;
   transition: opacity 0.3s;
   
 }


 
  ul.item-bar ul li{
    
    background-color: #545b6e ;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);

    

  }
 
  .itemlist a{
    color: #faf9f9;
  }

  #itemlist-text:hover{
    color: #89b0ae ;
  }

  ul.item-bar ul li:hover{
    background-color: #89b0ae;
    
  }

  ul.item-bar ul li:last-child{
    border-bottom: none;
  }

  .item-box > .item-bar{
   
    align-items: center;
    justify-content: center;
  }
  .itemlist{
    list-style: none;
    display: flex;
    padding: 20px;
    
    
  
  }
 a{
  text-decoration: none;
  font-family: 'Kaisei Tokumin', serif;
  font-size:large;
  
 }
  .footerlist{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -1vh;
   
  }
.footerlist a{
  color: #faf9f9;
}
.footerlist a:hover{
  color: #89b0ae;
}
  .footeritem{
    list-style: none;
    display: flex;
    margin: 20px;
 
    
  
  }
  .flexcenter{
    position: relative;
    align-items: center;
    justify-content: center;
    background-color:#545b6e;height:80px;
    padding:20px;width: 100%;
  }
  
  html{
    height: 100%;

  }
  body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }

  .wrapper{
    flex: 1;
  }

/* banner */

.Flex-container-banner{
    display: flex;
    justify-content: center;
}
/* 商品輪播 */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
}

.flex-container {
    height: 50vh;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
}
.flex {
  -webkit-flex: initial;
          flex: initial;
  width: 15%;
  min-width: 15%;
}

.carousel-title{
   text-align: center;
}


.carousel-control-next-icon{
    background-color: black;
}
.carousel-control-prev-icon{
    background-color: black;
}


.indexline{
    width: 100%;
    margin: 29px 0;
    height: 2px;
    background: #F3F3F3;

}

.carousel-control-next, .carousel-control-prev{
  width: 35%;
}

